
<!doctype html>
<html lang="en" ng-app="Shopping">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.js"></script>
    <script src="script.js"></script>
  </head>
  
  <style>
    .emptyMessage {
          font-weight: bold;
          color: red;
          font-size: 1.2em;
        }
        li {
          margin-bottom: 7px;
          font-size: 1.2em;
        }
        li > button {
          margin-left: 6px;
        }
        button  {
          color: green;
        }
  </style>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as showListToBuy">
     <h2>To Buy:</h2>
     <ul ng-repeat="item in itemsToBuy()">
       <li>Buy {{item.quantity}} {{item.name}}
          <button class="btn btn-default" ng-click="boughtItem($index)">
            <span class="glyphicon glyphicon-ok"></span> Bought</button>
      </li>
     </ul>
     <div class="emptyMessage" ng-if="isEmpty()">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as showListBought">
     <h2>Already Bought:</h2>
     <ul ng-repeat="item in itemsBought() | orderBy:'item.name'">
       <li>Bought {{item.quantity}} {{item.name}}</li>
     </ul>
     <div class="emptyMessage" ng-if="isEmpty()">Nothing bought yet!</div>
    </div>
  </div>
</div>

</body>
</html>
